<p>comment works!</p>
<table class="Banner">
    <tr>LINKS</tr>
    <tr>
        <td>
            <span [routerLink]="['/register']">Register</span>
        </td>
        <td>
            <span [routerLink]="['/search']">search</span>
        </td>
        <td>
            <span [routerLink]="['/results']">results</span>
        </td>
        <td>
            <span [routerLink]="['/details']">details</span>
        </td>
        <td>
            <span [routerLink]="['/comment']">comment</span>
        </td>
        <td>
            <span [routerLink]="['/home']">home</span>
        </td>
        <td>
            <span [routerLink]="['/login']">login</span>
        </td>
    </tr>
</table>